[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
click = "*"
pandas = "*"
pandas-ta = "*"
ta-lib = "*"
yfinance = "*"
motor = "*"
pydantic = "*"
pymongo = "*"
scipy = "*"

[requires]
python_version = "3.9"
